section{
    /* width: 900px;
    height: 700px; */

    border: 2px solid black;
    background-color: rgb(40, 38, 151);

}


article{
    /* width: 80px;
    height: 80px; */
    border: 2px solid rgb(177, 45, 45);
    float: left;
    margin: 5px;
}

#photo{
    /* height: 200px;
    width: 200px; */
    background-image: url(../images/antman.jpg);
}