extend template 

block vars 
    - var title = "Home Page"
    - var company = "Valtech"

block body 
    div(class = "container")
        a(href="/login")  Login Here 
        br
        a(href="/logout") Logout Here 
        br
        a(href="/profile") Profile Here 
        br
        a(href="/register") Register Here 
        br